

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {


  .gridwrap {
    display: flex;
    flex-wrap: wrap;
  }

  .grid-item {
    margin: 32px;
    width: calc(33.3333% - 32px);
    flex: 0 0 auto;
  }


}