
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {


  .gridwrap {
    display: flex;
    flex-wrap: wrap;
  }

  .grid-item {
    width: calc(30% - 32px);
    margin: 24px !important;
    flex: 0 0 auto;
  }


}